*, *::before, *::after {
  box-sizing: border-box;
}

input[type="file"] {
  opacity: 0;
  /* make transparent */
  z-index: -1;
  /* move under anything else */
  position: absolute;
  /* don't let it take up space */
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  color: #f8783c;
  background-image: linear-gradient(-180deg, #1c191b, #000000);
  font: 1.25rem/1 'Poppins', sans-serif;
}

h1 {
  border-bottom: 1px solid #fff3;
  color: #f8783c;
  margin: 0;
  text-align: center;
  padding: 5px 20px;
}

.txt,
select {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
}

.txt {
  padding: 20px;
  resize: none;
  width: 80%;
  color: #ede3e9;
  background: rgb(20, 20, 20);
}

mark {
  color: #ffffff;
  background-color: #f8783c;
  /* font-size: 1.2em; */
}

section {
  margin: 10px 0;
  text-align: center;
}

label {
  color: #ede3e9;
}

pdf {
  color: #f8783c;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #fff3;
}

button {
  padding: 5px;
  border: 1px solid #f8783c;
  border-radius: 999px;
  color: #f8783c;
  background-color: #0009;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  transition: 0.5s;
}

button:hover {
  color: #0009;
  background-color: #f8783c;
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

button:disabled:hover {
  color: #f8783c;
  background-color: #0009;
}

#pdfCtr {
  width: 100%;
}

#text-display {
  color: #ede3e9;
  display: block;
  line-height: 1.75;
}

span {
  position: fixed;
  top: 50px;
  right: 50px;
  margin: 0 auto;
  cursor: pointer;
}

span:hover {
  color: #ede3e9;
}

.container {
  width: 600px;
  max-width: calc(100vw - 40px);
  padding: 30px;
  border-radius: 10px;
  background-color: #0003;
}

.voice-config {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000cf;
  overflow-x: hidden;
  transition: 0.5s;
}

.voice-config .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  color: #f8783c;
}

.voice-config .closebtn:hover {
  color: #ede3e9;
}

.voice-container {
  position: relative;
  width: 600px;
  max-width: calc(80vw - 40px);
}

.slider-label {
  display: inline;
}

.slider {
  margin: 10px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 35px;  
  border: solid 1px #482a3e;
  background: rgb(20, 20, 20);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #f8783c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f8783c;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8783c;
}

@media screen and (max-height: 450px) {
  .voice-config .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}